body {
  font-family: "Helvetica";
  background-color: #111;
  width:100%;
  height:1vh;
}

.messages {
  overflow-x: hidden;
  overflow-y: auto;
}

.message, .debug {
  animation-duration: 1s;
  animation-name: slidein;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border: 4.5px solid #555;
  padding: 1em;
  margin: 1em;
  font-size: 1.5em;
  background-color:#1e1e1e;
  color:#e3e3e3;
  top:0px;
  box-sizing: border-box;
  flex-grow: 2;
}


.message .wrap {
  clear: both;
}

.message p:after {
  clear: both;
  display: block;
  content: "";
}

.message img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  max-width:50%;
}

.message a {
  margin-top:20px;
}

.message iframe{
  border:none;
  margin:20px auto 0 auto;
  width:100%;
  height:100%;
  min-height:500px;
 }

.message p {
  padding: 0;
  margin: 0;
}

@keyframes slidein {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

.face {
  animation: float 3s ease-out infinite;
  position:absolute;
  z-index:1;
  bottom:5%;
  right:5%;
  font-size: 100px;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}

.shadowFrame {
  width: 130px;
  margin-top: 15px;
}

.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
}

.shadow ellipse {
  transform-origin: center center;
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }

  50% {
    width: 60%;
    margin: 0 18%;
  }

  100% {
    width: 90%;
    margin: 0 5%;
  }
}